<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Record Attendance</title>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            try {
                const accessToken = document.cookie.split('; ').find(row => row.startsWith('access_token=')).split('=')[1];
            }
            catch (error) {
                alert('Access token is missing. Please log in.');
                window.location.href = '/signin';
            }
            const admin = document.cookie.split('; ').find(row => row.startsWith('role=')).split('=')[1] === 'admin';
            if (admin) {
                
            }
        });
    </script>
    <script src="https://unpkg.com/qr-scanner@1.2.0/qr-scanner.min.js"></script>
</head>
<body>
    <h1>Record Attendance</h1>
    <!-- Content for recording attendance goes here -->
     <video id="qr-video" width="100%"></video>
     <script>
        const video = document.getElementById('qr-video');
        const scanner = new QrScanner(video, result => handleQRCode(result));
        scanner.start();
        function handleQRCode(data) {
            fetch('/record-attendance', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ id: data })
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
     </script>
</body>
</html>