<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Record Attendance</title>
    <link rel="stylesheet" href="static/styles/attendance.css" />
    <script src="static/scripts/dashboard.js"></script>
    <script src="static/scripts/logout.js"></script>

    <script src="https://raw.githubusercontent.com/mebjas/html5-qrcode/master/minified/html5-qrcode.min.js"></script>
    <script
      src="https://unpkg.com/html5-qrcode"
      type="text/javascript"
    ></script>
  </head>
  <body>
    <div class="top">
      <h1>Record Attendance</h1>
      <button class="logout" onclick="logout()">Log Out</button>
    </div>

    <div class="student"></div>
    <div class="admin"></div>
  </body>
</html>
